{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="https://faviconka.ru/ico/1/faviconka.ru_1_104991.ico" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "style.css" %}>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container col-md-4">
            <a class="navbar-brand" title="Все вопросы" href="{% url 'index' %}">
                <img class="py-2 px-2" src="https://www.google.com/s2/favicons?domain=teweb.ru" alt="Аватар"> Table Of Life
            </a>
        </div>

        <div class="nav-item" style="margin-left: -10px;">
            <a class="nav-link" href="{% url 'ask' %}"><h5>Post task</h5></a>
        </div>
        <div class="nav-item" style="margin-left: -10px;">
            <a class="nav-link" href="{% url 'post' %}"><h5>Get task</h5></a>
        </div>

        <div class="container avatar-container col-md-4">
            <div class="col-2 mr-4 ml-auto">
                <img class="avatar" src="{% static "images/avatar.png" %}" alt="Аватар">
            </div>

            <div class="row">
                <div class="mr-4">
                    <b>NoName</b>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

<footer>
    <div class="container text-center">
        <p class="top-cover"style="margin: 10px">
            &copy; Copyright Slava Rianov, Lelya Kochkarova, Ivan Chernov
        </p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>