{% extends "app/base.html" %}
{% load static %}

{% block title %}
    Новый вопрос
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th style="width: 200px; border-color: white;" colspan="3">
                <h3 style="text-align: center">Решение по задаче:</h3>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control_group"
                                     {% if field.errors %} has-error {% endif %}>
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions"><br/>
                            <button type="submit" class="btn btn-primary">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            <td>
        </tr>
        </tbody>
    </table>
{% if resp%}
<div style="color: green">Ваше решение: {{UUID}}</div>
{% for r in resp%}
    <p>{{ r }}</p>
{% endfor %}
{% endif %}
{% endblock %}
